<div class="app-page-header">
    <div>
        <div class="app-page-breadcrumb">Research Management</div>
        <h2 class="mb-0 mt-0 font-semibold">
            @if (isPersonalPage()) {
                Your Projects
            } @else {
                Projects
            }
        </h2>
        <div class="text-muted text-sm mt-1">
            @if (isPersonalPage()) {
                Welcome to your personalized projects search page. You can find all projects of which you are a member.
            } @else {
                Welcome to the projects search page. You can find all present and past projects here.
            }
        </div>
    </div>
    <p-button
        icon="pi pi-question-circle"
        label="Tutorial"
        [outlined]="true"
        (onClick)="startTour()"/>
</div>

<p-toolbar styleClass="mt-3 border-transparent shadow-2 mb-0">

    <ng-template #start>
            <div class="project-search-filters flex gap-2 ">
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-search"/>
                    <input type="text" pInputText placeholder="Search by Title" [(ngModel)]="queryParams.title"/>
                </p-iconfield>

                <onconova-popover-filter-button [value]="queryParams.status" label="Status" [selectionLabelFcn]="showSelectedChoiceFilter">
                    <ng-template #popoverContent let-internalValue>
                        <div class="p-2">
                            <div class="text-muted mb-3">Select a project status:</div>
                            <p-selectbutton 
                                [options]="projectStatusChoices" optionLabel="label" optionValue="value"  aria-labelledby="basic"
                                [(ngModel)]="queryParams.status"
                                (ngModelChange)="internalValue.set($event)"/>
                        </div>
                    </ng-template>
                </onconova-popover-filter-button>
            </div>  
    </ng-template>

    <ng-template #end>
        <div class="flex gap-2 align-items-center">
            <p-button 
                id="project-search-refresh-projects-button"
                icon="pi pi-sync"
                title="Refresh cases"
                severity="secondary"
                (onClick)="projects.reload()"/>
            <p-button 
                id="project-search-new-project-button"
                (onClick)="openProjectForm()" 
                [disabled]="!currentUser().canManageProjects"
                label="Register New Project"
                [icon]="currentUser().canManageProjects ? 'pi pi-plus' : 'pi pi-lock'"/>
        </div>
    </ng-template>

</p-toolbar>
    

<p-toolbar styleClass="border-transparent pb-1" [style]="{'background': 'none'}">

    <ng-template #start>
        <div class="case-search-results-count flex align-items-center">
            <div class="text-muted mr-2">Results: </div>
            @if (projects.isLoading()) {
                <p-skeleton width="4rem" height="2rem"/>
            } @else {
                <div class="text-center text-xl font-semibold" [ngxCountAnimation]="totalProjects()" duration="500"></div>
            }
        </div>        
        <div class="case-search-sorting flex flex align-items-center text-muted ml-4">
            <span class="text-muted mr-2">Sort by </span>
            <p-select [(ngModel)]="queryParams.sort" [options]="orderingOptions" size="small" optionLabel="label" optionValue="value" styleClass="w-15rem"></p-select>
        </div>
    </ng-template>

    <ng-template #end>
        <div class="layout-buttons">
            <p-selectbutton [(ngModel)]="queryParams.layout" [options]="['list', 'grid']" [allowEmpty]="false">
                <ng-template #item let-item>
                    <i class="pi " [ngClass]="{ 'pi-bars': item === 'list', 'pi-table': item === 'grid' }"></i>
                </ng-template>
            </p-selectbutton>
        </div>
    </ng-template>

</p-toolbar>



<p-dataView
    styleClass="onconova-case-search-dataview"
    [value]="projects.value() || [1,2,3,4,5,6,7,8,9,10, 12]"
    [paginator]="true" 
    [rows]="queryParams.limit()"
    [first]="queryParams.offset()" 
    [layout]="queryParams.layout()"
    lazy="true"
    [rowsPerPageOptions]="pageSizeChoices"
    [totalRecords]="totalProjects()"
    (onLazyLoad)="queryParams.limit.set($event.rows); queryParams.offset.set($event.first);"
    class="no-background">

    <ng-template #list let-data>
        <p-table [value]="data" styleClass="mt-3">
            <ng-template pTemplate="header">
                <tr>
                    <th>Title</th>
                    <th>Status</th>
                    <th>Leader</th>
                    <th>Members</th>
                    <th class="text-center">Cohorts</th>
                    <th class="text-center">Datasets</th>
                    <th class="text-center">Created</th>
                    <th class="text-center">Last Updated</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-project>
                <tr onconova-project-search-item 
                    @fadeAnimation
                    layout="row"
                    [project]="project"
                    (onDelete)="projects.reload()"
                    ></tr>
            </ng-template>
        </p-table>
    </ng-template>    


    <ng-template #grid let-projectsPage>
        <div class="grid mt-3" >
            @for (project of projectsPage; track $index; let first = $first) {
                <div class="col p-2">
                    @if (projects.isLoading()) {
                        <div class="onconova-project-search-item-card placeholder" @fadeAnimation>
                            <div class="flex my-3">
                                <p-skeleton width="4rem" height="4rem"/>
                                <div class="flex flex-column mx-3">
                                    <p-skeleton width="10rem" height="1.5rem" class="mb-2 mt-3" />    
                                    <p-skeleton width="15rem" height="1.5rem"/>      
                                </div>
                            </div>
                            <div class="mb-3 mt-4">
                                <p-skeleton width="100%" height="2rem"/>
                            </div>
                            <div class="my-3 mb-5">
                                <p-skeleton width="100%" height="2rem"/>
                            </div>
                            <p-skeleton class="my-3 ml-auto"  width="20rem" height="2rem"/>      
                        </div>
                    } @else {
                        <onconova-project-search-item 
                            @fadeAnimation
                            [project]="project"
                            (onDelete)="projects.reload()"
                            (onEdit)="openProjectForm($event)"/>                              
                    }
                </div>
            }
        </div>
    </ng-template>
</p-dataView>
