@use "primeicons/primeicons.css";
@use "primeflex/primeflex.css";
@use "driver.js/dist/driver.css";
@use "assets/styles/layout/layout.scss";
@use "assets/styles/shared/shared.scss";
@use "assets/styles/forms/forms.scss";
@use "assets/styles/cases/cases.scss";
@use "assets/styles/cohorts/cohorts.scss";
@use "assets/styles/projects/projects.scss";
@use "assets/styles/terminologies/terminologies.scss";
@use "assets/styles/dashboard/dashboard.scss";



body {
    margin: 0;
    padding: 2rem;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  router-outlet + * {
    animation: fade .5s;
  }
  

$gutter: 1rem; //for primeflex grid system
