<p-fluid>
    <form  [formGroup]="form" (ngSubmit)="submitFormData()">

        <div class="field flex flex-column">
            <p-selectbutton 
            [options]="relationshipOptions"
            formControlName="relationship"
            optionLabel="name" 
            optionValue="code"
            class="cancer-category-selectbutton"
            placeholder="Select an option">
                <ng-template #item let-item>
                    <div class="flex flex-column">
                        <div class="text-center">{{item.name}}</div>
                        <div 
                            [inlineSVG]="getIcon(item.code)" 
                            [setSVGAttributes]="{height: '3.5rem'}">
                        </div>
                    </div>
                </ng-template>
            </p-selectbutton>
            <onconova-form-control-error controlName="relationship"></onconova-form-control-error>
        </div>

        <div class="field">
            <label for="assertionDate" class="form-label required">Assertion date</label>
            <onconova-datepicker 
                formControlName="assertionDate"
            />
            <onconova-form-control-error controlName="assertionDate"></onconova-form-control-error>
            <small class="help-text">The asserted date represents when a clinician began following the neoplasm, not necessarily when it was recorded.</small>
        </div>

        @if (requiresPrimary()) {
            <div class="field">
                <label for="relatedPrimary" class="form-label required">Related primary neoplasm</label>
                <p-select 
                [options]="relatedPrimaries.value() || []" 
                formControlName="relatedPrimary"
                optionLabel="description" 
                optionValue="id"
                placeholder="Select an option" />
                <onconova-form-control-error controlName="relatedPrimary"></onconova-form-control-error>
                <small class="help-text">
                    @if (form.value.relationship == 'metastatic') {
                        The primary neoplasm from which this neoplasm metastatized.
                    } @else {
                        The primary neoplasm which recurred.
                    }
                </small>
            </div>    
        }

        <div class="field">
            <label for="topography" class="form-label required">Topography</label>
            <onconova-concept-selector 
                terminology="CancerTopography"
                [showCodes]="true"
                formControlName="topography"/>
            <onconova-form-control-error controlName="topography"></onconova-form-control-error>
            <small class="help-text">The anatomical location of the neoplasm according to the ICD-O-3 classification rules.</small>
        </div>
        <div class="field">
            <label for="morphology" class="form-label required">Morphology</label>
            <onconova-concept-selector 
                [terminology]="morphologyTerminology()"
                [showCodes]="true"
                formControlName="morphology"/>
            <onconova-form-control-error controlName="morphology"></onconova-form-control-error>            
            <small class="help-text">The histologic/morphologic and behavioral characteristics of the neoplasm according to the ICD-O-3 classification rules.</small>
        </div>

        <div class="field flex flex-column">
            <label for="laterality" class="form-label">Laterality</label>
            <onconova-concept-selector 
                terminology="LateralityQualifier"
                [showSynonyms]="false"
                formControlName="laterality"
                widget="selectbutton"/>
            <onconova-form-control-error controlName="laterality"></onconova-form-control-error>
        </div>

        <div class="field">
            <label for="differentiation" class="form-label">Histological differentiation</label>
            <onconova-concept-selector 
                terminology="HistologyDifferentiation"
                formControlName="differentiation"/>
            <onconova-form-control-error controlName="differentiation"></onconova-form-control-error>
        </div>

        <p-button 
            type="submit" 
            label="Save" 
            styleClass="w-full p-3 mt-2"  
            [loading]="isSaving()"
            [disabled]="form.invalid" />
    </form>
</p-fluid>
 