# =========================================
# CONTAINER ORCHESTRATION
# Select the Docker Compose file to use as default
# =========================================
COMPOSE_FILE=compose.yml

# Name of the organization/institution hosting the Onconova instance
ONCONOVA_HOSTING_ORGANIZATION="Clinical Center of Oncology"

# =========================================
# REVERSE PROXY SETTINGS
# =========================================
# Hostname or IP address of the server
ONCONOVA_REVERSE_PROXY_HOST=localhost
# HTTPS port for the web server
ONCONOVA_REVERSE_PROXY_HTTPS_PORT=4443
# HTTP port for the web server
ONCONOVA_REVERSE_PROXY_HTTP_PORT=4080
# SSL certificate bundle for the host (full or relative path)
ONCONOVA_REVERSE_PROXY_SSL_CERTIFICATE_BUNDLE=./path/to/localhost.pem
# SSL certificate private key for the host (full or relative path)
ONCONOVA_REVERSE_PROXY_SSL_CERTIFICATE_PRIVATE_KEY=./path/to/localhost-key.pem

# =========================================
# SERVER SETTINGS
# =========================================
# Address (host:port) of the server (defaults to the reverse proxy address)
ONCONOVA_SERVER_ADDRESS=
# Secret key for anonymizing protected healthcare information
ONCONOVA_SERVER_ANONYMIZATION_KEY="yqjO5WxiPA2cHavbWyDi76E6Mk7CbqP9"
# Secret key used by the server to cryptographically sign sensitive user data
ONCONOVA_SERVER_ENCRYPTION_KEY="5u5]GprUHH;b_{%q%Hhwx_SnI5avgg"
# Comma-separated list of hosts allowed to make HTTP requests to the server based on the HOST header 
# (by default, ONCONOVA_SERVER_ADDRESS, ONCONOVA_CLIENT_WEBSERVER_ADDRESS, and ONCONOVA_DOCS_WEBSERVER_ADDRESS are allowed)
ONCONOVA_SERVER_ALLOWED_HOSTS=localhost
# Comma-separated list of web-origins allowed to make cross-origin AJAX requests to the server
# (by default, ONCONOVA_SERVER_ADDRESS, ONCONOVA_CLIENT_WEBSERVER_ADDRESS, and ONCONOVA_DOCS_WEBSERVER_ADDRESS are allowed)
ONCONOVA_SERVER_CORS_ALLOWED_ORIGINS=https://localhost

# =========================================
# CLIENT SETTINGS
# =========================================
# Address (host:port) of the client's webserver (defaults to the reverse proxy address)
ONCONOVA_CLIENT_WEBSERVER_ADDRESS=
# Path to the directory containing the plugins' source code:
ONCONOVA_CLIENT_PLUGINS_PATH=./client/src/plugins

# =========================================
# IDENTITY PROVIDERS SETTINGS
# =========================================
# Google OIDC Settings
ONCONOVA_GOOGLE_CLIENT_ID=
ONCONOVA_GOOGLE_SECRET=

# Microsoft OIDC Settings
ONCONOVA_MICROSOFT_CLIENT_ID=
ONCONOVA_MICROSOFT_TENANT_ID=
ONCONOVA_MICROSOFT_SECRET=

# =========================================
# DATABASE SETTINGS
# =========================================
# Database settings
ONCONOVA_POSTGRES_DATABASE=onconova_db
ONCONOVA_POSTGRES_USER=onconovadb_user
ONCONOVA_POSTGRES_PASSWORD=test
ONCONOVA_POSTGRES_HOST=database
ONCONOVA_POSTGRES_PORT=5435
