<div class="app-page-header">
    <div>
        <div class="app-page-breadcrumb">Data Hub</div>
        <h2 class="mb-0 mt-0 font-semibold">
            @if (isUserPage()) {
                My Contributions
            } @else {
                Case Explorer
            }
        </h2>
        <div class="text-muted">
            @if (isUserPage()) {
                You can find all patient cases to which you have contributed.
            } @else {
                You can find all existing patient cases here.
            }
        </div>
    </div>    
    <p-button
        icon="pi pi-question-circle"
        label="Tutorial" 
        [outlined]="true"
        (onClick)="startTour()"
        class="ml-auto"/>

</div>

<p-toolbar styleClass="mt-3 mb-0 border-transparent row-gap-3 shadow-2">

    <ng-template #start>

            <div class="case-search-filters">
                <div class="flex flex-wrap row-gap-3 gap-2 align-items-center">
                    <p-iconfield class="">
                        <p-inputicon styleClass="pi pi-search"/>
                        <input type="text" pInputText placeholder="Search by ID" [(ngModel)]="queryParams.idSearch"/>
                    </p-iconfield>
                    <onconova-popover-filter-button [value]="queryParams.age" label="Age" [selectionLabelFcn]="showAgeRangeFilter">
                        <ng-template #popoverContent let-internalValue>
                            <div class="p-2">
                                <div class="text-muted mb-3">Select an age range:</div>
                                <p-slider [range]="true" [min]="0" [max]="100" [step]="5" styleClass="w-20rem"
                                    [(ngModel)]="queryParams.age" (ngModelChange)="internalValue.set($event)"/>
                            </div>
                        </ng-template>
                    </onconova-popover-filter-button>

                    <onconova-popover-filter-button [value]="queryParams.dataCompletion" label="Data Completion" [selectionLabelFcn]="showDataCompletionFilter">
                        <ng-template #popoverContent let-internalValue>
                            <div class="p-2">
                                <div class="text-muted mb-3">Select an completion percentage range:</div>
                                <p-slider [range]="true" [min]="0" [max]="100" [step]="5" styleClass="w-20rem"
                                    [(ngModel)]="queryParams.dataCompletion" (ngModelChange)="internalValue.set($event)"/>
                            </div>
                        </ng-template>
                    </onconova-popover-filter-button>

                    <onconova-popover-filter-button [value]="queryParams.primarySite" label="Primary site" [selectionLabelFcn]="showSelectedCodedFilter">
                        <ng-template #popoverContent let-internalValue>
                            <div class="p-2">
                                <div class="text-muted mb-3">Select a primary site:</div>
                                <onconova-concept-selector
                                    terminology="CancerTopographyGroup"
                                    [(ngModel)]="queryParams.primarySite"
                                    [returnCode]="true"
                                    (selected)="internalValue.set($event)"/>
                            </div>
                        </ng-template>
                    </onconova-popover-filter-button>

                    
                    <onconova-popover-filter-button [value]="queryParams.morphology" label="Morphology" [selectionLabelFcn]="showSelectedCodedFilter">
                        <ng-template #popoverContent let-internalValue>
                            <div class="p-2">
                                <div class="text-muted mb-3">Select a primary morphology:</div>
                                <onconova-concept-selector
                                    terminology="CancerMorphologyPrimary"
                                    [(ngModel)]="queryParams.morphology"
                                    [returnCode]="true"
                                    (selected)="internalValue.set($event)"/>
                            </div>
                        </ng-template>
                    </onconova-popover-filter-button>

                    <onconova-popover-filter-button [value]="queryParams.gender" label="Gender" [selectionLabelFcn]="showSelectedCodedFilter">
                        <ng-template #popoverContent let-internalValue>
                            <div class="p-2">
                                <div class="text-muted mb-3">Select a gender:</div>
                                <onconova-concept-selector
                                    terminology="AdministrativeGender"
                                    [(ngModel)]="queryParams.gender"
                                    [returnCode]="true"
                                    (selected)="internalValue.set($event)"/>
                            </div>
                        </ng-template>
                    </onconova-popover-filter-button>

                    <onconova-popover-filter-button [value]="queryParams.vitalStatus" label="Vital status" [selectionLabelFcn]="showSelectedVitalStatusFilter">
                        <ng-template #popoverContent let-internalValue>
                            <div class="p-2">
                                <div class="text-muted mb-3">Select a vital status:</div>
                                <p-selectbutton 
                                    [options]="vitalStatusChoices" optionLabel="label" optionValue="value" 
                                    [(ngModel)]="queryParams.vitalStatus" (ngModelChange)="internalValue.set($event)"/>
                            </div>
                        </ng-template>
                    </onconova-popover-filter-button> 
                </div>
            </div>
    </ng-template>

    <ng-template #end>
        <div class="flex gap-2 align-items-center">
            <div>
                <p-button 
                    id="case-manager-refresh-cases-button"
                    icon="pi pi-sync"
                    title="Refresh cases"
                    severity="secondary"
                    styleClass="mr-2"
                    (onClick)="cases.reload()"/>
                <!-- Button to add new cases -->
                <p-button 
                    id="case-manager-new-case-button"
                    (onClick)="openNewCaseForm()" 
                    [disabled]="!currentUser().canManageCases"
                    label="Register Case"
                    [icon]="currentUser().canManageCases ? 'pi pi-plus' : 'pi pi-lock'"/>
            </div>
        </div>
    </ng-template>

</p-toolbar>
    

<p-toolbar styleClass="border-transparent pb-1" [style]="{'background': 'none'}">

    <ng-template #start>
        <div class="case-search-results-count flex align-items-center">
            <div class="text-muted mr-2">Results: </div>
            @if (cases.isLoading()) {
                <p-skeleton width="4rem" height="2rem"/>
            } @else {
                <div class="text-center text-xl font-semibold" [ngxCountAnimation]="totalCases()" duration="500"></div>
            }
        </div>        
        <div class="case-search-sorting flex flex align-items-center text-muted ml-4">
            <span class="text-muted mr-2">Sort by </span>
            <p-select [(ngModel)]="queryParams.sort" [options]="orderingOptions" size="small" optionLabel="label" optionValue="value" styleClass="w-15rem"></p-select>
        </div>
    </ng-template>
    
    <ng-template #end>
        <div class="layout-buttons">
            <p-selectbutton [(ngModel)]="queryParams.layout" [options]="['list', 'grid']" [allowEmpty]="false">
                <ng-template #item let-item>
                    <i class="pi " [ngClass]="{ 'pi-bars': item === 'list', 'pi-table': item === 'grid' }"></i>
                </ng-template>
            </p-selectbutton>
        </div>
    </ng-template>
</p-toolbar>


@if (cases.isLoading()) {
    <p-dataView
        styleClass="onconova-case-search-dataview"
        [value]="[1,2,3]"
        [paginator]="true" 
        layout="grid"
        [rowsPerPageOptions]="pageSizeChoices"
        class="no-background">
        <ng-template #grid let-data>
            <div class="grid mt-3" >
                @for (_ of [].constructor(15); track $index; let first = $first;) { 
                    <div class="col p-2">
                        <div class="onconova-case-search-item-card placeholder" @fadeAnimation>
                            <div class="flex my-3">
                                <p-skeleton width="5rem" height="5rem"/>
                                <div class="flex flex-column mx-3">
                                    <p-skeleton width="10rem" height="1.5rem" class="mb-2 mt-3" />    
                                    <p-skeleton width="20rem" height="1.5rem"/>      
                                </div>
                            </div>
                            <div class="mb-3 mt-4">
                                <p-skeleton width="100%" height="2rem"/>
                            </div>
                            <div class="my-3 mb-5">
                                <p-skeleton width="100%" height="2rem"/>
                            </div>
                            <p-skeleton class="my-3 ml-auto"  width="20rem" height="2rem"/>      
                        </div>
                    </div>
                }
            </div>
        </ng-template>
    </p-dataView>
} @else if (cases.hasValue()) {
    <p-dataView
        styleClass="onconova-case-search-dataview"
        [value]="cases.value()"
        [paginator]="true" 
        [rows]="queryParams.limit()" 
        [first]="queryParams.offset()" 
        [layout]="queryParams.layout()"
        sortField="createdAt"
        [showJumpToPageDropdown]="true"
        lazy="true"
        [rowsPerPageOptions]="pageSizeChoices"
        [totalRecords]="totalCases()"
        (onPage)="queryParams.limit.set($event.rows); queryParams.offset.set($event.first)"
        class="no-background">

        <ng-template #list let-data>
            <p-table [value]="data" styleClass="mt-3">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Case</th>
                        <th class="">Diagnosis</th>
                        <th class="text-center">Contributors</th>
                        <th class="text-center">Created</th>
                        <th class="text-center">Last Updated</th>
                        <th class="text-center">Completion</th>
                        <th class="text-center">Consent</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-case>
                    <tr onconova-case-search-item 
                        @fadeAnimation
                        layout="row"
                        [case]="case"
                        (onDelete)="cases.reload()"
                        ></tr>
                </ng-template>
            </p-table>
        </ng-template>    
        <ng-template #grid let-data>
            <div class="grid mt-3" >
                @for (case of data; track case.id; let first = $first) {
                    <div class="col p-2 m-auto">
                        <onconova-case-search-item 
                        @fadeAnimation
                        [case]="case"
                        (onDelete)="cases.reload()"/>
                    </div>                
                }
            </div>
        </ng-template>
    </p-dataView>
} @else if (cases.error()) {
    <div>An error ocurred while loading the cases</div>
}
