@use '_variables.scss' as vars; 

.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 5.5rem 1.5rem 1.5rem 2rem;
    transition: margin-left vars.$transitionDuration;
}

.layout-main {
    flex: 1 1 auto;
}

.p-confirmdialog {
    overflow: auto !important;
    width: min-content !important;
    min-width: 20% !important;
}


.p-toast-message {
    border-left: 4px solid !important;
    border-radius: vars.$borderRadius !important;
}

.tag {
    font-size: .85rem !important;
    padding: 0rem .75rem !important;

    &.tag-primary {
        background: var(--p-primary-color-transparent) !important;
        border: 1px solid var(--p-primary-color);
        color: var(--p-primary-color);
    }

    &.tag-primary-outline {
        background: none !important;
        border: 1px solid var(--p-primary-color);
        color: var(--p-primary-color);
    }

    &.tag-secondary {
        background: var(--p-chip-background) !important;
        border: 1px solid var(--p-chip-color);
        color: var(--p-chip-color);
    }

    &.tag-secondary-outline {
        background: none !important;
        border: 1px solid var(--p-chip-color);
        color: var(--p-chip-color);
    }
}
