@use '_variables.scss' as vars; 
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;

    --p-primary-faded-color: light-dark(var(--p-primary-900), var(--p-primary-100));
    --p-primary-color-transparent: color-mix(in srgb, var(--p-primary-500), transparent 80%);
    
    --p-primary-900-transparent: color-mix(in srgb, var(--p-primary-900), transparent 80%);
    --p-primary-800-transparent: color-mix(in srgb, var(--p-primary-800), transparent 80%);
    --p-primary-700-transparent: color-mix(in srgb, var(--p-primary-700), transparent 80%);
    --p-primary-600-transparent: color-mix(in srgb, var(--p-primary-600), transparent 80%);
    --p-primary-500-transparent: color-mix(in srgb, var(--p-primary-500), transparent 80%);
    --p-primary-400-transparent: color-mix(in srgb, var(--p-primary-400), transparent 80%);
    --p-primary-300-transparent: color-mix(in srgb, var(--p-primary-300), transparent 80%);
    --p-primary-200-transparent: color-mix(in srgb, var(--p-primary-200), transparent 80%);
    
    --p-primary-900-semitransparent: color-mix(in srgb, var(--p-primary-900), transparent 20%);
    --p-primary-800-semitransparent: color-mix(in srgb, var(--p-primary-800), transparent 20%);
    --p-primary-700-semitransparent: color-mix(in srgb, var(--p-primary-700), transparent 20%);
    --p-primary-600-semitransparent: color-mix(in srgb, var(--p-primary-600), transparent 20%);
    --p-primary-500-semitransparent: color-mix(in srgb, var(--p-primary-500), transparent 20%);
    --p-primary-400-semitransparent: color-mix(in srgb, var(--p-primary-400), transparent 20%);
    --p-primary-300-semitransparent: color-mix(in srgb, var(--p-primary-300), transparent 20%);
    --p-primary-200-semitransparent: color-mix(in srgb, var(--p-primary-200), transparent 20%);

    --p-divider-text-color: light-dark(var(--p-surface-400),var(--p-surface-500));
    --p-tooltip-color: var(--p-surface-content);
    --p-text-color: light-dark(var(--p-surface-900), var(--p-surface-100));
}

html {
    height: 100%;
    font-size: vars.$scale;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: light-dark(#F5F7FA, #020617) !important;
}

a {
    text-decoration: none;
    color: var(--p-primary-color);
}

.layout-wrapper {
    min-height: 100vh;
}