
@if (layout() === 'card') {
    <div class="onconova-project-search-item-card shadow-1">
        
        <div class="flex gap-3">

            <!-- Cohort title -->
            <div class="flex flex-column mb-3">
                <small class="text-muted mb-1">Title</small>
                <h5 class="project-search-item-title my-0">{{ project().title }}</h5>
                @if (project().summary.length > 150) {
                    <div class="text-muted text-sm">{{ project().summary | slice:0:150 }}... </div>                
                } @else {
                    <div class="text-muted text-sm">{{ project().summary }} </div>
                }
            </div>

            <!-- Project status -->
            <div class="flex flex-column ml-auto">
                <div class="project-search-item-chip text-md mt-2">
                    @let status = parseStatus(project().status!);
                    <p-tag [value]="status.value" [styleClass]="status.styleClass"/>    
                </div>
            </div>
        </div>

        <!-- Project leader -->
        <div class="flex flex-column mb-2">
            <small class="text-muted mb-1">Project leader</small> 
            <ng-template [ngTemplateOutlet]="ProjectLeader"></ng-template>
        </div>

        <!-- Project members -->
        <div class="flex flex-column mb-2">
            <small class="text-muted mb-1">Members</small>
            <ng-template [ngTemplateOutlet]="ProjectMembers"></ng-template>
        </div>

        <!-- Clinical centers -->
        <div class="flex flex-column mb-2">
            <small class="text-muted mb-1">Clinical centers</small>
            <div class="flex my-auto gap-1">
                @if (project().clinicalCenters.length) {
                    <ul class="list-none pl-0 my-0">
                        @for (center of project().clinicalCenters; track $index) {
                            <li> 
                                <i class="hospital-icon">
                                    <svg width="15" height="15" viewBox="0 0 24 24" fill="none" class="text-muted">
                                        <path d="M13 6.70557V5.19384H11V6.70557H9.48804V8.70557H11V10.2162H13V8.70557H14.5119V6.70557H13Z" fill="currentColor"/>
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M4 21C2.89543 21 2 20.1048 2 19.0006V9.71051C2 8.60628 2.89543 7.71113 4 7.71113H6.05267V3.99938C6.05267 2.89515 6.9481 2 8.05267 2H15.9473C17.0518 2 17.9473 2.89515 17.9473 3.99938V7.71051L19.9999 7.71113C21.1045 7.71113 21.9999 8.60628 21.9999 9.71051V19.0006C21.9999 20.1048 21.1045 21 19.9999 21H4ZM6.05267 9.71051H4L4 19L4.05267 19.0006H6.05267V9.71051ZM9.43759 19H8.05267V4H15.9473V19H14.5623V13.5511H9.43759V19ZM17.9473 19.0006H19.9999V9.71113L19.9473 9.71051H17.9473V19.0006ZM11.1484 18.9801V15.5199H12.8515V18.9801H11.1484Z" fill="currentColor"/>
                                    </svg>
                                </i>
                                {{center}}
                            </li>
                        }
                    </ul>   
                } @else {
                    - 
                }
            </div>
        </div>


        <div class="flex gap-3">

            <div class="flex flex-column">
                <small class="text-muted mb-1">Cohorts</small>
                <div class="flex my-auto gap-1">
                    <div>{{cohortsCount.value() || '-' }}</div>
                </div>
            </div>
            <div class="flex flex-column">
                <small class="text-muted mb-1">Datasets</small>
                <div class="flex my-auto gap-1">
                    <div>{{datasetsCount.value() || '-' }}</div>
                </div>
            </div>
            <!-- Metadata -->
            <div class="flex flex-column">
                <small class="text-muted mb-1">Created</small>
                <div class="flex my-auto gap-1">
                    <div>{{project().createdAt | date }}</div>
                </div>
            </div>
            <div class="flex flex-column">
                <small class="text-muted mb-1">Last updated</small>
                <div class="flex my-auto gap-1">
                    <div>{{ (project().updatedAt | date) || '-' }}</div>
                </div>
            </div>


        </div>

        <div class="mt-3">
            <ng-template *ngTemplateOutlet="ActionButton; context: {$implicit: 'Open project management'}"></ng-template>
        </div>
    </div>


} @else {
        <td> 
            {{project().title}} 
        </td>
        <td>            
            <ng-template [ngTemplateOutlet]="StatusBadge"></ng-template>
        </td>
        <td class="mx-auto">
             <ng-template [ngTemplateOutlet]="ProjectLeader"></ng-template>
        </td>
        <td>
             <ng-template [ngTemplateOutlet]="ProjectMembers"></ng-template>
        </td>
        <td class="text-center">
            {{ cohortsCount.value() || '-' }}
        </td>
        <td class="text-center">
            {{ datasetsCount.value() || '-' }}
        </td>
        <td class="text-center">
            {{ (project().createdAt | date) || '-' }}
        </td>
        <td class="text-center">
            {{ (project().updatedAt | date) || '-' }}
        </td>
        <td>
            <ng-template *ngTemplateOutlet="ActionButton; context: {$implicit: 'Open'}"></ng-template>
        </td>
}

<p-confirmdialog />

<ng-template #StatusBadge>
    @let status = parseStatus(project().status!);
    <div>
        <p-tag [value]="status.value" [styleClass]="status.styleClass"/>    
    </div>
</ng-template>

<ng-template #ProjectLeader>
    <div class="flex my-auto gap-1">
        <onconova-user-badge [username]="project().leader" [showName]="true"></onconova-user-badge>
    </div>
</ng-template>


<ng-template #ProjectMembers>
    <div class="flex my-auto gap-1">
        @for (member of project().members; track member;) {
            @if (member !== project().leader) { 
                <onconova-user-badge [username]="member"></onconova-user-badge>
            }
        }
    </div>
</ng-template>

<ng-template #ActionButton let-label>
    <p-splitbutton
        [label]="label"
        class="mt-auto"
        [model]="actionItems"
        (onClick)="openProjectManagement()"
        [menuButtonDisabled]="!currentUserCanEdit()"
        [dropdownIcon]="currentUserCanEdit() ? 'pi pi-cog' : 'pi pi-lock'" 
        />
</ng-template>