label.required {
    font-weight: 550;
}
label.required::after {
    content: '*';
    color: var(--p-red-500);
    margin-left: .1rem;
}
.field {
    margin-bottom: 1rem;
}

.muted-text {
    color: color-mix(in srgb, var(--p-text-muted-color), transparent 25%);
}

.help-text {
    color: color-mix(in srgb, var(--p-text-muted-color), transparent 25%);
}

.p-select{
    display: flex !important;
}


p-selectbutton.tumor-markers {
    --analyte-button-width: 8rem;
    display: flex;
    flex-flow: wrap;
}
p-selectbutton.tumor-markers .p-togglebutton {
    width: var(--analyte-button-width);
    height: 100%;
}
p-selectbutton.tumor-markers .p-togglebutton-checked::before {
    background-color: color-mix(in srgb, var(--p-primary-color), transparent 60%);
}


p-selectbutton.cancer-category-selectbutton{
    margin: auto;
}

p-selectbutton.cancer-category-selectbutton .p-togglebutton-checked .p-togglebutton-content{
    background-color: color-mix(in srgb, var(--p-primary-color), transparent 90%);
    color: var(--p-primary-color)
}

p-selectbutton.cancer-category-selectbutton svg{
    display: block;
    margin: auto;
    width: 6rem;
    color: var(--p-divider-text-color);
}

p-selectbutton.cancer-category-selectbutton .p-togglebutton-checked svg{
    color: var(--p-primary-color);
}
