.case-manager-error {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: #ffeaea;
    color: #c0392b;
    padding: 1.5rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 8px rgba(192,57,43,0.08);
}


.case-manager-header {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;    
    row-gap: 1rem;
    background: var(--p-content-background); 
    color: var(--p-text-color); 
    margin: 1rem inherit;
    border-radius: 1.5rem;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
    padding: 1rem; 
    margin-bottom: 2rem;
    backdrop-filter: blur(6px);

    & .onconova-cancer-icon {
        scale: .8;
    }
}

.onconova-case-manager-group-panel {
    background: light-dark(var(--p-surface-0), var(--p-surface-900));
    & fieldset {
        padding-bottom: .0rem !important;
        margin-bottom: 1rem !important;
        border-color: color-mix(in srgb, var(--p-primary-500), transparent 60%) !important;
    }
    & legend {
        margin-bottom: .25rem;
        background: none !important;
        color: var(--p-primary-500) !important;
    }
}


onconova-case-manager-panel {

    & .p-panel {
        border: none !important;
    }
    & .p-panel-header, .p-panel-content {
        padding: 0.375rem 0rem !important;
    }
    & .p-panel-header {
        & .p-avatar{
            line-height: 0.25;
            padding: 1rem;
        }
        & .p-avatar{
            line-height: 0.25;
            padding: 1rem;
            background-color: color-mix(in srgb, var(--p-primary-500), transparent 80%) !important;
            color: var(--p-primary-500) !important;
        }
        & .onconova-case-manager-header-title {
            font-size: 1.1rem; 
            font-weight: 500; 
        }
        & .pi-star-fill {
            color: var(--p-primary-color) !important;
        }
        & .onconova-case-manager-counter-badge {
            color: light-dark(var(--p-primary-600), var(--p-primary-400)) !important;
            background-color: color-mix(in srgb, var(--p-primary-400), transparent 80%) !important;
        }
        & .onconova-case-manager-menu-button-container {
            margin-left: auto;
            margin-top: auto;
            margin-bottom: auto;
        }
        & .onconova-case-manager-menu-button {
            cursor: pointer;
            margin-left: .75rem;
            color: var(--p-button-text-secondary-color) !important;
        }
    }
    & .panel-content {
        padding-bottom: 0;

        & .no-entries-text {
            margin-left: 1rem;
            color: color-mix(in srgb, var(--p-text-muted-color), transparent 25%);
        }
    }

    & onconova-case-manager-panel-timeline {
        margin-left: .4rem;
        display: block;
    }

    & .p-timeline-event {
        min-height: unset;

        & .p-timeline-event-opposite {
            display: none !important;
        }
        & .p-timeline-event-content {
            padding-bottom: .75rem !important;

            & .onconova-case-manager-panel-timeline-event-entry {
                display: flex;
                align-items: flex-start;
                &:hover {
                    color: var(--p-primary-color) !important;
                    & .onconova-case-manager-panel-timeline-event-icon{
                        background: var(--p-primary-color) !important;
                    }
                }
            }
            & .onconova-case-manager-panel-timeline-event-date {
                color: var(--p-text-muted-color) !important;
                font-weight: 550;
                text-transform: uppercase;
                line-height: 1.2;
            }
            & .onconova-case-manager-panel-timeline-event-description,
              onconova-tumor-marker-event,
              onconova-therapy-line-event,
              onconova-multiline-event,
              onconova-neoplastic-entity-event {
                width: 100%;
            }
            & .onconova-case-manager-panel-timeline-event-icon {
                background: var(--p-divider-border-color);
                height: stretch;
                color: var(--p-primary-color);
                width: .5rem;
                border-radius: 4rem;
                margin-right: 0.5rem;
            }
            & lucide-angular.onconova-case-manager-panel-timeline-event-icon svg {
                height: 1rem;
                width: 1rem;
            }
        }
    }

}



.onconova-case-manager-drawer {
    min-width: 25% !important;

    & .p-drawer-header {
        justify-content: flex-start;
        display: flex !important;
        align-items: center;
        gap: .5rem;
        & p-avatar {
            background: color-mix(in srgb, var(--p-primary-500), transparent 75%);
            color: var(--p-primary-500);
            > lucide-angular {
                width: var(--p-avatar-lg-width); 
                text-align: center;
                scale: 1.2;
                > svg {
                    margin: auto;
                    display: flex;
                }
            }
        }
        .onconova-drawer-title {
            margin: auto 0;
            margin-right: auto;
            color: var(--p-primary-color);
            font-weight: 600;
            font-size: 1.1rem;
        }
    }
    .property-label {
        margin-bottom: .25rem;
    }
    & onconova-drawer-properties {
        & .property {
            margin-bottom: 1.25rem;
        }
        & ul.list-property {
            padding-left: .25rem;
            margin-top: .25rem;
        }
        & ul.list-property > li {
            list-style: none;
        }
        & .nested-properties {
            margin-left: .45rem;
            padding-left: .5rem;
            padding-top: .5rem;
            border-left: .1rem solid color-mix(in srgb, var(--p-content-color), transparent 55%);
        }
        & onconova-coded-concept-tree {
            & .p-tree-root {
                margin-left: -1.5rem;
                margin-top: -1.5rem;
                margin-bottom: -1rem;
                overflow: hidden !important;
            }
            & .p-tree-node-content {
                display: flex !important;
            }
            & .p-tree-node-toggle-button {
                order: 1;
                margin-left: -.25rem;
            }
        }
    }

    & .onconova-case-manager-drawer-history {
        margin-top: 1rem;
        & .p-timeline-event{
            min-height: fit-content !important;
            & .timeline-event-category i{
                scale: .9;
            }
            & .timeline-event-date {
                color: var(--p-primary-faded-color) !important;
            }
            & .p-timeline-event-content {
                padding-left: .5rem !important;
                margin-top: -0.5rem !important;
                display: flex !important;
                margin-bottom: 1.5rem;
                & onconova-user-badge {
                    margin: auto 0;
                    margin-right: .5rem;
                    scale: .9;
                }
            }
            & .p-timeline-event-opposite {
                display: none !important;
            }
        }
    }
}

.p-dialog:has(.confirmdialog-container){
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    padding: 10rem;

    .confirmdialog-container {
        background: var(--p-content-background);
        box-shadow: var(--card-shadow);
        border-radius: 12px;
        padding: 1rem;
        height: 100%;
        min-width: 25rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .confirmdialog-icon {
        color: var(--p-primary-contrast-color);
        background: var(--p-primary-color) !important;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 7rem;
        width: 7rem;
        margin-top: -4rem;
    }
}



onconova-tumor-marker-event {
    width: 100%;
    & .onconova-tumor-marker-event {
        display: flex;
        gap: 0.75rem;
        width: 100%;
    }

    & .label {
        display: flex;
        gap: .5rem;
        justify-content: space-between;
        align-items: center;
    }

    & .label-text {
        font-weight: 500;
        color: var(--text-color);
    }

    & .bar-container {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }

    & .bar {
        position: relative;
        display: flex;
        width: 8rem;
        height: 0.6rem;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    }


    & .bar-segment.bad-segment {
        background-color: var(--p-divider-border-color);
    }

    & .bar-segment.good-segment {
        background-color: color-mix(in srgb, var(--p-primary-400), transparent 50%) !important;
    }

    & .bar-indicator {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;
    }

    & .bar-circle {
        width: .5rem;
        height: .5rem;
        border-radius: 50%;
        background-color: color-mix(in srgb, var(--p-primary-400), transparent 10%) !important;
    }

    & .bar-labels {
        display: flex;
        color: var(--p-divider-border-color);
        justify-content: space-between;
        font-size: 0.75rem;
        padding: 0 4px;
    }
}
