
@if (case$.error()) {
    <div class="case-manager-error">
        <i class="pi pi-exclamation-triangle"></i>
        <span>{{ pseudoidentifier()}} does not exist or could not be retrieved</span>
    </div>
} @else { 
    <div class="mb-3 mr-3 flex flex-wrap gap-2 row-gap-3">
        <p-button label="Return" severity="secondary" icon="pi pi-chevron-left" (click)="location.back()"/>
        <p-button
            icon="pi pi-question-circle"
            label="Tutorial" 
            class="ml-auto"
            [outlined]="true"
            (onClick)="startTour()"/>
        <p-button
            id="case-manager-export-case-button"
            label="Export case"
            [disabled]="!currentUser().canExportData || !(case$.value()?.consentStatus === 'valid')"
            [icon]="currentUser().canExportData ? 'pi pi-file-export' : 'pi pi-lock'"
            [loading]="exportLoading"
            (click)="downloadCaseBundle(case$.value()?.id || '')"/>
        <p-button
            id="case-manager-data-management-button"
            [label]="anonymized() ? 'Enable data management' : 'Disable data management'"
            [disabled]="!currentUser().canManageCases"
            [icon]="anonymized() ? 'pi pi-lock' : 'pi pi-lock-open'"
            (click)="anonymized.set(!anonymized())"/>
        <ng-container *ngTemplateOutlet="additionalCaseActionButtons() || null"></ng-container>
    </div>
    
    <!-- Case summary -->
    <div class="case-manager-header">
        <div class="case-manager-header-summary flex flex-wrap">
            <onconova-identicon [value]="pseudoidentifier()" class="m-auto"/>
            <div class="ml-3 my-auto">
                <small class="text-muted">Patient case</small>
                <h2 class="text-monospace my-0">
                    {{ pseudoidentifier() }}
                </h2>
                <div>
                    @if (case$.value(); as case) {
                        <i [class]="case.gender.code == 'male' ? 'pi pi-mars' : ( case.gender.code == 'female' ? 'pi pi-venus' : 'pi pi-genderless' )"></i> {{ case.gender.display }}, 
                        {{ case.age }} years@if(case.vitalStatus == 'deceased'){, deceased}@if(case.vitalStatus == 'unknown'){, <small>EOR</small>}
                    } @else {
                        <p-skeleton width="7rem" height="1.2rem" />
                    }
                </div>    
            </div> 
        </div>
        <p-divider layout="vertical"></p-divider>
        <div class="my-auto">
                <div class="flex">
                    @if (primaryEntity.value(); as value) {
                        <onconova-cancer-icon class="my-auto mr-1" [topography]="value.topography.code"/>
                    }
                    <div>
                        <small class="text-muted">Primary site</small>
                        @if (primaryEntity.isLoading()) {
                            <p-skeleton width="8rem" height="1.5rem" />
                        } @else {
                            <div>
                                @if (primaryEntity.value(); as value) {
                                    {{ value.topography.display }}
                                } @else {
                                    -
                                }
                            </div>
                        }  
                    </div>
                </div>
                <small class="text-muted">Morphology</small>
                @if (primaryEntity.isLoading()) {
                    <p-skeleton width="8rem" height="1.5rem" />
                }  @else {
                    <div>
                        @if (primaryEntity.value(); as value) {
                            {{ value.morphology.display }}
                        } @else {
                            -
                        }
                    </div>
                }  
        </div>
        <p-divider layout="vertical"></p-divider>
        <div class="my-auto">
            <div class="text-left">
                <small class="text-muted">Latest staging</small>
                <div>
                    @if (latestStaging.isLoading()) {
                        <p-skeleton width="8rem" height="1.5rem" />
                    } @else {
                        @if (latestStaging.value(); as value) {
                            {{ value.description }}
                        } @else {
                            -
                        }
                    } 
                </div>
            </div> 
    
            <div class="text-left mt-1">
                <small class="text-muted">Age at diagnosis</small>
                <div>
                    @if (case$.value(); as case) {
                        @if (case.overallSurvival !== null) {
                            {{ case.ageAtDiagnosis }} years
                        } @else {
                            -
                        }
                    } @else {
                        <p-skeleton width="8rem" height="1.5rem" />
                    }      
                </div>
            </div> 
        </div>
        <p-divider layout="vertical"></p-divider>
        <div class="my-auto">
            <div class="text-left">
                <small class="text-muted">Overall survival</small>
                <div>
                    @if (case$.value(); as case) {
                        @if (case.overallSurvival !== null) {
                            {{ case.overallSurvival | number:'1.0-0' }} months
                        } @else {
                            -
                        }
                    } @else {
                        <p-skeleton width="8rem" height="1.5rem" />
                    }      
                </div>
            </div> 
    
            <div class="text-left mt-1">
                <small class="text-muted">Cause of death</small>
                <div>
                    @if (case$.value(); as case) {
                        {{ case.causeOfDeath ? case.causeOfDeath.display : '-' }}
                    } @else {
                        <p-skeleton width="8rem" height="1.5rem" />
                    }      
                </div>
            </div> 
        </div>
        <p-divider layout="vertical"></p-divider>
        <div class="my-auto">
            <div class="text-left">
                <small class="text-muted">Clinical center</small>
                <div>
                    @if (case$.value(); as case) {
                        {{ case.clinicalCenter }}      
                    } @else {
                        <p-skeleton width="8rem" height="1.5rem" />
                    }
                </div>
            </div> 
    
            <div class="text-left mt-1">
                <small class="text-muted">Clinical Identifier</small>
                <div>
                    @if (case$.value(); as case) {
                        {{ case.clinicalIdentifier}}
                    } @else {
                        <p-skeleton width="8rem" height="1.5rem" />
                    }
                </div>
            </div> 
        </div>
        <p-divider layout="vertical"></p-divider>
        <div class="case-manager-header-data-completion my-auto text-center">
            <small class="text-muted">Completion</small>
            @if (case$.value(); as case) {
                <p-knob [ngModel]="totalCompletion | number:'1.0-0'" 
                        styleClass="mt-2"
                        [readonly]="true" 
                        valueTemplate="{value}%"
                        [size]="55"/>
            } @else {
                <p-skeleton width="4rem" height="4rem" />     
            }
        </div>
        <p-divider layout="vertical"></p-divider>
        <div class="my-auto text-left case-manager-header-metadata">
            <small class="text-muted">Anonymization</small>
            <div class="white-space-nowrap">
                @if (anonymized()) {
                    <i class="pi pi-lock" style="scale: 0.8"></i> Anonymized
                } @else {
                    <i class="pi pi-lock-open" style="scale: 0.8"></i> Original
                }
            </div>

            <div class="flex flex-column">
                <small class="text-muted mt-1">Contributors</small>
                    <div style="scale: 0.8" class="mr-auto">
                        <p-avatar-group>
                            @if (case$.value(); as case) {
                                @for (contributor of case.contributors; track $index; let index = $index;) {
                                    @if (index<3) {
                                        <onconova-user-badge [username]="contributor"/>
                                    }
                                }
                                @if ((case.contributors.length || 0) > 3) {
                                    <p-avatar class="onconova-other-users-avatar" [label]="'+' + (case.contributors!.length-3).toString()" shape="circle" size="normal" />
                                }
                            } @else {
                                <p-skeleton width="2rem" height="2rem" shape="circle"/>
                                <p-skeleton width="2rem" height="2rem" shape="circle"/>
                                <p-skeleton width="2rem" height="2rem" shape="circle"/>
                            }
                        </p-avatar-group>
                    </div>
            </div>    
        </div>
        <p-divider layout="vertical"></p-divider>
        <div class="my-auto">
            <div class=flex>
                <div class="text-left">
                    <small class="text-muted">Created</small>
                    <div>
                        @if (case$.value(); as case) {
                            {{ case.createdAt | date }}
                        } @else {
                            <p-skeleton width="7rem" height="1.5rem" />                    
                        }
                    </div>
                </div> 
            </div>
    
            <div class=flex>
                <div class="text-left mt-1">
                    <small class="text-muted">Last updated</small>
                    <div>
                        @if (case$.value(); as case) {
                            {{ (case.updatedAt | date) || '-' }}
                        } @else {
                            <p-skeleton width="7rem" height="1.5rem"/>
                        }      
                    </div>
                </div> 
            </div>
        </div>
    </div>
    
    <!-- Case content -->
        <div class="grid"> 
            <div class="col-12 md:col-6 lg:col-4 p-3">
    
                <p-fieldset legend="Cancer Characterization" class="onconova-case-manager-group-panel">
    
                    <onconova-case-manager-panel
                        title="Neoplastic Entities"
                        [icon]="icons.neoplasticEntities"
                        [caseId]="caseId"
                        [anonymized]="anonymized()"
                        (onCompletionChange)="updateCompletion($event)"
                        [formComponent]="NeoplasticEntityFormComponent"
                        [customEventComponent]="NeoplasticEntityEventComponent"
                        [service]="neoplasticEntityService"
                        [category]="PatientCaseDataCategoryChoices.NeoplasticEntities"/>
                        
                    <p-divider></p-divider>
    
                    <onconova-case-manager-panel
                        title="Stagings"
                        [icon]="icons.stagings"
                        [caseId]="caseId"
                        [anonymized]="anonymized()"
                        (onCompletionChange)="updateCompletion($event)"
                        [formComponent]="StagingFormComponent"
                        [service]="stagingService"
                        [category]="PatientCaseDataCategoryChoices.Stagings"/>
    
                    <p-divider></p-divider>
    
                    <onconova-case-manager-panel
                        title="Risk Assessments"
                        [icon]="icons.riskAssessments"
                        [caseId]="caseId"
                        [anonymized]="anonymized()"
                        (onCompletionChange)="updateCompletion($event)"
                        [formComponent]="RiskAssessmentFormComponent"
                        [service]="riskAssessmentService"
                        [category]="PatientCaseDataCategoryChoices.RiskAssessments"/>
    
                    <p-divider></p-divider>
    
                    <onconova-case-manager-panel
                        title="Tumor Markers"
                        [icon]="icons.tumorMarkers"
                        [caseId]="caseId"
                        [anonymized]="anonymized()"
                        (onCompletionChange)="updateCompletion($event)"
                        [formComponent]="TumorMarkerFormComponent"
                        [service]="tumorMarkerService"
                        [category]="PatientCaseDataCategoryChoices.TumorMarkers"
                        [customEventComponent]="TumorMarkerEventComponent"/>
    
                </p-fieldset>
    
    
                <p-fieldset legend="Genomics" class="onconova-case-manager-group-panel">
    
                    <onconova-case-manager-panel
                        title="Genomic Variants"
                        [icon]="icons.genomicVariants"
                        [caseId]="caseId"
                        [anonymized]="anonymized()"
                        (onCompletionChange)="updateCompletion($event)"
                        [formComponent]="GenomicVariantFormComponent"
                        [service]="genomicVariantService"
                        [category]="PatientCaseDataCategoryChoices.GenomicVariants"/>
    
                    <p-divider></p-divider>
    
                    <onconova-case-manager-panel
                        title="Genomic Signatures"
                        [icon]="icons.genomicSignatures"
                        [caseId]="caseId"
                        [anonymized]="anonymized()"
                        (onCompletionChange)="updateCompletion($event)"
                        [formComponent]="GenomicSignatureFormComponent"
                        [service]="genomicSignatureService"
                        [category]="PatientCaseDataCategoryChoices.GenomicSignatures"/>
    
                </p-fieldset>
            </div>
    
    
            <div class="col-12 md:col-6 lg:col-6 xl:col-4 p-3">
    
                <p-fieldset legend="Therapy" class="onconova-case-manager-group-panel">
    
                    <onconova-case-manager-panel
                        title="Systemic Treatments"
                        [icon]="icons.systemicTherapies"
                        [caseId]="caseId"
                        [anonymized]="anonymized()"
                        (onCompletionChange)="updateCompletion($event)"
                        [formComponent]="SystemicTherapyFormComponent"
                        [service]="systemicTherapyService"
                        [customEventComponent]="TherapyLineEventComponent"
                        [category]="PatientCaseDataCategoryChoices.SystemicTherapies"/>
                        
                    <p-divider></p-divider>
    
                    <onconova-case-manager-panel
                        title="Surgical Procedures"
                        [icon]="icons.surgeries"
                        [caseId]="caseId"
                        [anonymized]="anonymized()"
                        (onCompletionChange)="updateCompletion($event)"
                        [formComponent]="SurgeryFormComponent"
                        [service]="surgeryService"
                        [customEventComponent]="TherapyLineEventComponent"
                        [category]="PatientCaseDataCategoryChoices.Surgeries"/>
    
                    <p-divider></p-divider>
    
                    <onconova-case-manager-panel
                        title="Radiotherapies"
                        [icon]="icons.radiotherapies"
                        [caseId]="caseId"
                        [anonymized]="anonymized()"
                        (onCompletionChange)="updateCompletion($event)"
                        [formComponent]="RadiotherapyFormComponent"
                        [service]="radiotherapyService"
                        [customEventComponent]="TherapyLineEventComponent"
                        [category]="PatientCaseDataCategoryChoices.Radiotherapies"/>
                </p-fieldset>
    
    
                <p-fieldset legend="Profile" class="onconova-case-manager-group-panel">
                    <onconova-case-manager-panel
                        title="Lifestyle"
                        [icon]="icons.lifestyle"
                        [caseId]="caseId"
                        [anonymized]="anonymized()"
                        (onCompletionChange)="updateCompletion($event)"
                        [formComponent]="LifestyleFormComponent"
                        [service]="lifestyleService"
                        [customEventComponent]="MultilineEventComponent"
                        [category]="PatientCaseDataCategoryChoices.Lifestyles"/>
                        
                    <p-divider></p-divider>
    
                    <onconova-case-manager-panel
                        title="Familiy History"
                        [icon]="icons.familyHistory"
                        [caseId]="caseId"
                        [anonymized]="anonymized()"
                        (onCompletionChange)="updateCompletion($event)"
                        [formComponent]="FamilyHistoryFormComponent"
                        [service]="familyHistoryService"
                        [category]="PatientCaseDataCategoryChoices.FamilyHistories"/>
                    
                    <p-divider></p-divider>
    
                    <onconova-case-manager-panel
                        title="Comorbidities"
                        [icon]="icons.comorbidities"
                        [caseId]="caseId"
                        [anonymized]="anonymized()"
                        (onCompletionChange)="updateCompletion($event)"
                        [formComponent]="ComorbiditiesAssessmentFormComponent"
                        [service]="comorbiditiesAssessmentService"
                        [category]="PatientCaseDataCategoryChoices.ComorbiditiesAssessments"/>
    
                    <p-divider></p-divider>
    
                    <onconova-case-manager-panel
                        title="Vitals"
                        [icon]="icons.vitals"
                        [caseId]="caseId"
                        [anonymized]="anonymized()"
                        (onCompletionChange)="updateCompletion($event)"
                        [formComponent]="VitalsFormComponent"
                        [service]="vitalsService"
                        [customEventComponent]="MultilineEventComponent"
                        [category]="PatientCaseDataCategoryChoices.Vitals"/> 
                </p-fieldset>
            </div>
    
    
            <div class="col-12 md:col-6 lg:col-4 p-3">
     
                <p-fieldset legend="Clinical Observations"  class="onconova-case-manager-group-panel">
    
                    <onconova-case-manager-panel
                        title="Tumor Boards"
                        [icon]="icons.tumorBoards"
                        [caseId]="caseId"
                        [anonymized]="anonymized()"
                        (onCompletionChange)="updateCompletion($event)"
                        [category]="PatientCaseDataCategoryChoices.TumorBoardReviews"
                        [formComponent]="TumorBoardFormComponent"
                        [service]="tumorBoardService"/>
    
                    <p-divider></p-divider>
    
                    <onconova-case-manager-panel
                        title="Adverse Events"
                        [icon]="icons.adverseEvents"
                        [caseId]="caseId"
                        [anonymized]="anonymized()"
                        (onCompletionChange)="updateCompletion($event)"
                        [category]="PatientCaseDataCategoryChoices.AdverseEvents"
                        [formComponent]="AdverseEventFormComponent"
                        [service]="adverseEventService"/>
                    
                    <p-divider></p-divider>
    
                    <onconova-case-manager-panel
                        title="Treatment Responses"
                        [icon]="icons.treatmentResponses"
                        [caseId]="caseId"
                        [anonymized]="anonymized()"
                        (onCompletionChange)="updateCompletion($event)"
                        [category]="PatientCaseDataCategoryChoices.TherapyResponses"
                        [formComponent]="TreatmentResponseFormComponent"
                        [service]="treatmentResponseService"/>
                    
                    <p-divider></p-divider>
                    
                    <onconova-case-manager-panel
                        title="Performance Status"
                        [icon]="icons.performanceStatus"
                        [caseId]="caseId"
                        [anonymized]="anonymized()"
                        (onCompletionChange)="updateCompletion($event)"
                        [formComponent]="PerformanceStatusFormComponent"
                        [service]="performanceStatusService"
                        [category]="PatientCaseDataCategoryChoices.PerformanceStatus"/>
                </p-fieldset>
            </div>
        </div>
}



<p-confirmdialog maskStyleClass="confirmdialog">     
    <ng-template #headless let-onAccept="onAccept" let-onReject="onReject">
        <onconova-export-confirm-dialog [onAccept]="onAccept" [onReject]="onReject"></onconova-export-confirm-dialog>     
    </ng-template>
</p-confirmdialog>