<div class="app-page-header">
    <div>
        <div class="app-page-breadcrumb">Research Management</div>
        <h2 class="mb-0 mt-0 font-semibold">
            {{ isUserPage() ? 'My Cohort Contributions' : 'Cohort Explorer'}}
        </h2>
        <div class="text-muted text-sm mt-1">
            @if (isUserPage()) {
                Welcome to your personalized cohorts page. You can find all cohorts to which you have contributed.
            } @else {
                Welcome to the cohort explorer. You can find all existing cohorts here.
            }
        </div>
    </div>
    <p-button
        icon="pi pi-question-circle"
        label="Tutorial"
        [outlined]="true"
        (onClick)="startTour()"/>
</div>

<p-toolbar styleClass="my-3 border-transparent shadow-2">

    <ng-template #start>
        <div class="cohort-search-filters flex gap-2">
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search"/>
                <input type="text" pInputText placeholder="Search by Title" [(ngModel)]="queryParams.title"/>
            </p-iconfield>
        </div>  
    </ng-template>

    <ng-template #end>
        <div class="flex gap-2 align-items-center">

            <p-button 
                id="cohort-search-refresh-cohorts-button"
                icon="pi pi-sync"
                title="Refresh cases"
                severity="secondary"
                (onClick)="cohorts.reload()"/>
            <!-- Button to add new projects -->
            <p-button 
                id="cohort-search-new-cohort-button"
                (onClick)="openNewCohortForm()" 
                label="Register New Cohort"
                icon="pi pi-plus"/>
        </div>
    </ng-template>

</p-toolbar>


<p-toolbar styleClass="border-transparent pb-1" [style]="{'background': 'none'}">

    <ng-template #start>
        <div class="case-search-results-count flex align-items-center">
            <div class="text-muted mr-2">Results: </div>
            @if (cohorts.isLoading()) {
                <p-skeleton width="4rem" height="2rem"/>
            } @else {
                <div class="text-center text-xl font-semibold" [ngxCountAnimation]="totalCohorts()" duration="500"></div>
            }
        </div>        
        <div class="case-search-sorting flex flex align-items-center text-muted ml-4">
            <span class="text-muted mr-2">Sort by </span>
            <p-select [(ngModel)]="queryParams.sort" [options]="orderingChoices" size="small" optionLabel="label" optionValue="value"></p-select>
        </div>
    </ng-template>

    <ng-template #end>
        <div class="layout-buttons">
            <p-selectbutton [(ngModel)]="queryParams.layout" [options]="['list', 'grid']" [allowEmpty]="false">
                <ng-template #item let-item>
                    <i class="pi " [ngClass]="{ 'pi-bars': item === 'list', 'pi-table': item === 'grid' }"></i>
                </ng-template>
            </p-selectbutton>
        </div>
    </ng-template>

</p-toolbar>
    
@if (cohorts.isLoading()) {
    <div class="grid mt-3 gap-3">
        @for (_ of [].constructor(15); track $index; let first = $first;) {
            <div class="onconova-cohort-search-item-card placeholder">
                <div class="flex my-3 gap-3">
                    <p-skeleton width='4rem' height='2rem'/>
                    <p-skeleton width='40rem' height='2rem'/>    
                    <p-skeleton width='5rem' height='2rem'/>    
                </div>
                <div class="flex my-3 gap-3">
                    <p-skeleton width='4rem' height='2rem'/>
                    <p-skeleton width='6rem' height='2rem'/>
                    <p-skeleton width='6rem' height='2rem'/>
                    <p-skeleton width='6rem' height='2rem'/>
                    <p-skeleton width='9rem' height='2rem' class="ml-auto"/>    
                </div>
            </div>        
        }
    </div>
}

<p-dataView 
    styleClass="onconova-cohort-search-dataview"
    [value]="cohorts.value() || undefined"
    [paginator]="true" 
    [rows]="queryParams.limit()" 
    [first]="queryParams.offset()" 
    [layout]="queryParams.layout()"
    [lazy]="true"
    [rowsPerPageOptions]="pageSizeChoices"
    [totalRecords]="totalCohorts()"
    (onLazyLoad)="queryParams.limit.set($event.rows); queryParams.offset.set($event.first);"
    class="no-background">


    <ng-template #list let-data>
        <p-table [value]="data" styleClass="mt-3">
            <ng-template pTemplate="header">
                <tr>
                    <th>Title</th>
                    <th class="text-center">Population</th>
                    <th>Project</th>
                    <th>Predominant Topography</th>
                    <th>Median Age</th>
                    <th>Median Completion</th>
                    <th class="text-center">Created</th>
                    <th class="text-center">Last Updated</th>
                    <th></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-cohort>
                <tr onconova-cohort-search-item 
                    @fadeAnimation
                    layout="row"
                    [cohort]="cohort"
                    (onDelete)="cohorts.reload()"
                    ></tr>
            </ng-template>
        </p-table>
    </ng-template>    

    <ng-template #grid let-cohorts>
        <div class="grid mt-3">
            @for (cohort of cohorts; track cohort.id; let first = $first;) {
                <div class="col p-2 m-auto">
                    <onconova-cohort-search-item [cohort]="cohort" (delete)="cohorts.reload()"/>
                </div>
            }
        </div>
    </ng-template>
</p-dataView>

